In [26]:
import pandas as pd
import numpy as np

In [27]:
lgb = pd.read_csv('LGBM7_849997_solver.csv')
lgb.head()

      id   renewal  incentives
0    649  0.979379  179.708539
1  81136  0.967940  438.259608
2  70762  0.752066  379.580659
3  53935  0.944339  264.557052
4  15476  0.907653  377.376712

In [28]:
nn = pd.read_csv('NN_8287_binarysearch_modified.csv')
nn.head()

      id   renewal  incentives
0    649  0.996194       192.0
1  81136  0.987653       443.0
2  70762  0.939059       431.0
3  53935  0.977605       271.0
4  15476  0.938666       387.0

In [33]:
final = pd.DataFrame()
final['id'] = lgb.id
final['renewal'] = [0.75 * x + 0.25 * y for x,y in zip(lgb.renewal , nn.renewal)]
final['incentives'] = [0.75 * x + 0.25 * y for x,y in zip(lgb.incentives , nn.incentives)]
final.head()

      id   renewal  incentives
0    649  0.983583  182.781404
1  81136  0.972868  439.444706
2  70762  0.798815  392.435494
3  53935  0.952655  266.167789
4  15476  0.915407  379.782534

In [34]:
final.to_csv('LGBM_84997_NN_8287_ensemble_75_25.csv', index=False)